.foot-container {
    margin-top: 18px;
}

.reset-button {
    position: relative;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    font-family: 'Fredoka One', sans-serif;
    background: linear-gradient(135deg, #5126FF, #FF1783);
    z-index: 1;
}   

.reset-button::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 25px;
    background: linear-gradient(135deg, #5126FF, #FF1783);
    filter: blur(10px);
    z-index: -1; 
}