.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.game-name, .two-player, .creator{
    margin: 0px;
    padding: 0px;
}

.game-name {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    color: white;
    background-color:rgba(0, 0, 0, 0);    
}

.two-player-container {
    width: 120px;
    height: 15px;
    background-image: url("/assets/images/two-player-pic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.creator {
    font-size: 10px;
    color: white;
    background-color:rgba(0, 0, 0, 0);  
}