.platform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.board {
    width: 300px;
    height: 300px;
    background-color: aqua;
}