.platform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.board {
    width: 300px;
    height: 300px;
    background-color: aqua;
}

.player-one-container, .player-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 90px;
    height: 140px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.player-one, .player-two {
    color: white;
}

.player-icon {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
}

.o-image, .x-image {
    width: 70px;
    height: 70px;
}